fastapi
uvicorn[standard]
httpx
python-dotenv
python-jose
prometheus-fastapi-instrumentator
pydantic
typing-extensions
python-multipart
pytz
SQLAlchemy
psycopg2-binary
passlib
argon2-cffi
pandas
pandas-gbq
pyarrow
google-cloud-bigquery
google-auth
google-auth-oauthlib
google-auth-httplib2
aiosmtplib
PyMuPDF
pdfplumber
python-docx
geopy
genderize
