fastapi
uvicorn[standard]
httpx
python-dotenv
prometheus-fastapi-instrumentator
SQLAlchemy
pydantic
typing-extensions
pandas
pandas-gbq
aiosmtplib
python-multipart
PyMuPDF
pdfplumber
python-docx
geopy
genderize
google-cloud-bigquery
google-auth
google-auth-oauthlib
google-auth-httplib2
pyarrow
pytz